################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
bin
obj
/bin
/obj
/.idea
/.vs
/Application/bin/Debug
/Application/bin/Debug/netstandard2.1
/Application/obj
/AppGenerator/obj
/AppGenerator/bin
/Domain/bin/Debug/netstandard2.1
/Domain/obj
/Common/bin/Debug/netstandard2.0
/Common/obj
/Common-Test/obj
/Common-Test/bin/Debug/netcoreapp3.1
/Infrastructuer/bin/Debug/netstandard2.1
/Infrastructuer/obj
/Persistance.MYSQL/obj
/Persistance.MYSQL/bin/Debug
/Persistence/obj
/Persistence/bin/Debug/netstandard2.1
/Persistence.MSSQL/bin/Debug/netstandard2.1
/Persistence.MSSQL/obj
/Web/Properties
/Common/Common.csproj.user
/Application/Application.csproj.user
/AppGenerator/AppGenerator.csproj.user
/Domain/Domain.csproj.user
/Infrastructure.Test/Infrastructure.Test.csproj.user
/Infrastructure.Test/obj/Debug/netcoreapp3.1
/Infrastructure.Test/obj
/Infrastructure.Test/bin

/Web/wwwroot/cached_images
/Application/bin/Release/netstandard2.1
/AppGenerator/bin/Release/netstandard2.1
/Domain/bin/Release/netstandard2.1
/Common/bin/Release/netstandard2.0
/Infrastructuer/bin/Release/netstandard2.1
/Persistance.MYSQL/bin/Release/netstandard2.1
/Persistence/bin/Release/netstandard2.1
